* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 10px gray;
}
nav .ul li {
  display: inline-block;
  background-color: lightcoral;
  padding: 10px 20px;
}
nav .ul li a {
  color: white;
  text-decoration: none;
}
