#buddle(){
    .btn{
        padding: 10px 20px;
        background: lightcoral;
        border-radius: 10px;
        &:hover{
            background: lightgreen
        }
    }
    .btn2{
         padding: 10px 20px;
        background: lightseagreen;
        border-radius: 10px;
        &:hover{
            background-color: rebeccapurple
        }
    }
    
}


.data{
    #buddle.btn();
}

.nav{
    #buddle.btn2();
}
