@import "tailwindcss";

/* tag by defualt */
@layer base{
    h1{
        font-size: clamp(16px,6.5vw,50px);
        color: gray;
    }
}

/* component */
@layer components{
    .card{
        height: 350px;
        width: 200px;
        border: 2px solid;
        background: linear-gradient(red,green);
    }
    .card:hover{
        background: lightcoral;
        box-shadow: 0 0 20px 10px gray;
    }
    .btn{
        padding: 5px 20px;
        border: 2px solid ;
        background-color: lightcoral;
    }
}

/* reuse fontsize , font-famaliy */
@layer utilities{
    .font{
        font-family: 'Times New Roman', Times, serif;
    }
    .font1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .font2{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}